.tooltip {
	background-color: #333;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 13px;
	visibility: hidden;
	transition: opacity 2s;
	opacity: 0;
}

.tooltip[data-show] {
	visibility: visible;
	opacity: 1;
}

.home-modal {
	max-width: 1000px;
	margin: 50px auto;
}

.result-modal {
}

.history-modal {
}

.container {
	max-width: 2000px;
	/* width: 500px; */
	margin: 20px auto;
	display: flex;
	align-items: center;
}

.link {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	/* border: 1px solid #ccc; */
	margin: auto 10px auto 10px;
	background-color: #818cf8;
	padding: 12px;
}

.link-result {
	margin-left: 10px;
}

.buttons-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.buttons-result {
}

input[type="text"] {
	padding: 10px;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

input[type="text"]:hover {
	border: 1px solid #3e32ac;
}

input[type="submit"] {
	background-color: #818cf8;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}

input[type="submit"]:hover {
	background-color: #4f46e5;
}

.fav {
	margin: 0px 0.5rem;
	height: 20px;
	border-radius: 10px;
	/* box-shadow: inset 0 0 10px #f8a100; */
}

.long-url {
	background-color: inherit;
	margin-left: 20px;
	color: #fff;
	font-size: large;
}

.short-url {
	font-size: 18px;
	margin-left: auto;
	background-color: rgb(242, 242, 242);
	color: #000;
	border-radius: 5px;
	padding: 4px 10px;
	min-width: 224px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.short-url:hover {
	box-shadow: 0px 0px 10px 4px #4f46e5;
	transform: translateY(-2px);
}

button {
	background-color: #34d399;
	color: white;
	padding: 14px;
	height: 50px;
	margin: auto 10px auto 0px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: #059669;
}

a {
	text-decoration: none;
}

.copy {
	height: 74px;
	width: 74px;
	font-size: medium;
}

.qr-button {
	height: 74px;
	width: 74px;
}

.remove {
	background-color: #ed5e68;
	width: 74px;
	height: 74px;
	padding: 12px;
	font-size: x-large;
}

.remove:hover {
	background-color: #dd0a18;
}

.qrcode {
	height: 350px;
}

.qr-short {
	font-weight: 800;
	margin: 0px auto;
	padding: 8px 0px;
}

.qr-long {
	margin: 0px auto;
	padding: 8px 0px;
}

.svg-div {
	margin: 0px 4px;
	vertical-align: sub;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	padding: 1px 6px;
	font-weight: bold;
	align-self: flex-end;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
