@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Roboto+Mono&family=Sono:wght@300&family=Style+Script&display=swap");

* {
	font-family: "Arimo", sans-serif;
	background-color: #f2f2f2;
	text-align: center;
}
